<!-- Page Wrapper -->
<div class="modal-header">
	<div class="content container-fluid">

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title mt-4">Send this estimate</h4>
						<form [formGroup]="sendForm">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>From</label>
										<input
                    id="from"
                    name="from"
                    formControlName="from"
                    class="form-control"
                    type="text"
                    required>
									</div>
									<div class="form-group">
										<label class="label">To</label> <i class="fas fa-plus-circle" (click)="addEmail()"></i>
										<div formArrayName="emails" *ngFor="let email of sendForm.get('emails')['controls']; let emailIndex = index;">
											<ng-container [formGroupName]="emailIndex">
												<input
                    		formControlName="email"
                    		class="form-control"
                    		type="text"
                    		required>
											</ng-container>
										</div>
									</div>
									<div class="form-group">
										<label>Subject</label>
										<input
                    id="subject"
                    name="subject"
                    formControlName="subject"
                    class="form-control"
                    type="text"
                    required>
									</div>
									<div class="form-group">
										<label>Message</label>
										<textarea
										rows="5"
										cols="5"
										class="form-control"
										placeholder="Enter Message"
										formControlName="message">
										</textarea>
									</div>
									<div class="form-group">
										<input
                    id="sendToMe"
                    name="sendToMe"
                    formControlName="sendToMe"
                    class="form-control-checkbox"
                    type="checkbox"
                    required>
										<label>Send a copy to myself at {{ sendForm.get('from').value }}</label>
									</div>
									<div class="form-group">
										<input
                    id="attachPDF"
                    name="attachPDF"
                    formControlName="attachPDF"
                    class="form-control-checkbox"
                    type="checkbox"
                    required>
										<label>Attach the estimate as a PDF</label>
									</div>
								</div>
							</div>
							<div class="text-right mt-4">
								<button
								type="button"
								class="btn btn-primary"
								[disabled]="!sendForm.valid"
								(click)="submitProduct(sendForm)">
								Send
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Page Wrapper -->
