<!-- Page Wrapper -->
<div class="modal-header">
	<div class="content container-fluid">

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<form [formGroup]="estimateForm">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label>Customer:</label>
										<select
										width="100%"
										class="form-control"
										[(ngModel)]="customer"
										formControlName="customer">
											<option value="" selected>Select Customer</option>
											<option *ngIf="id != ''" value="{{customer}}">{{ customer.name }}</option>
											<option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>From</label>
										<input
										class="form-control datetimepicker"
										type="date"
										formControlName="fromDate"
										required>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>To</label>
										<input
										class="form-control datetimepicker"
										type="date"
										formControlName="toDate"
										required>
									</div>
								</div>
								<div class="col-md-4 mt-3">
									<div class="form-group">
										<label>Estimate Number</label>
										<input
                    id="number"
                    name="number"
                    formControlName="number"
                    class="form-control"
                    type="text"
                    required>
									</div>
								</div>
								<div class="col-md-4 mt-3">
									<div class="form-group">
										<label>Ref Number</label>
										<input
                    id="refNumber"
                    name="refNumber"
                    formControlName="refNumber"
                    class="form-control"
                    type="text"
                    required>
									</div>
								</div>
							</div>
							<div class="table-responsive mt-4">
								<table class="table table-stripped table-center table-hover">
									<thead>
										<tr>
											<th>Items</th>
											<th>Quantity</th>
											<th>Price</th>
											<th>Tax</th>
											<th>Amount</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
											<tr formArrayName="products" *ngFor="let product of estimateForm.get('products')['controls']; let productIndex = index;">
												<ng-container [formGroupName]="productIndex">
												<td>
													<input
													type="text"
													class="form-control"
													formControlName="product"
													[resultFormatter]="formatMatches"
													[inputFormatter]="formatMatches"
													[ngbTypeahead]="search"
													(selectItem)="selectedProduct($event, product)">
												</td>
												<td>
													<input
                    			formControlName="quantity"
                    			class="form-control"
                    			type="text"
                    			required>
												</td>
												<td>
													<input
                    			formControlName="price"
                    			class="form-control"
                    			type="text"
                    			required>
												</td>
												<td>
													{{ '+ ' + tax + '%'}}
												</td>
												<td>
													<input
                    			class="form-control"
                    			type="text"
													value="{{ getAmount(productIndex) }}"
                    			required
													disabled>
												</td>
												<td class="add-remove text-right">
													<i class="fas fa-plus-circle" (click)="addProduct()"></i>
													<i *ngIf="estimateForm.get('products').value.length > 1" class="fas fa-minus-circle" (click)="removeProduct(productIndex)"></i>
												</td>
											</ng-container>
											</tr>
									</tbody>
								</table>
							</div>
							<div class="table-responsive mt-4">
								<table class="table table-stripped table-center table-hover">
									<thead></thead>
									<tbody>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td class="text-right">Sub Total</td>
											<td class="text-right">$ {{ getPricesAmount() }}</td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td class="text-right">Taxes</td>
											<td class="text-right">$ {{ getTaxesAmount() }}</td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td class="text-right">Total</td>
											<td class="text-right">$ {{ getTotalAmount() }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="text-right mt-4">
								<button
								type="button"
								class="btn btn-primary"
								[disabled]="!estimateForm.valid"
								(click)="submitEstimate(this.estimateForm)">
								Add Estimate
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Page Wrapper -->
